@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap');

:root{
    --line-border-fill:#308034;
    --line-border-empty:#bebebe;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "poppins",sans-serif;
    background-color: rgb(16, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 500px;
    max-width: 100%;
}
.progress-container::before{
    content: "";
    background-color: var(--line-border-empty);
    height: 5px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
.progress{
    background-color: var(--line-border-fill);
    height: 4px;
    width: 0%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}
.circle{
    background-color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--line-border-empty);
    transition: 0.4s ease;
    cursor: pointer;
}
.circle.active{
    border-color: var(--line-border-fill);
}
.btn{
    background-color: var(--line-border-fill);
    color: #fffdfd;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    padding: 7px 20px;
    font-size: 15px;
    margin: 5px;
}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    background-color: var(--line-border-empty);
}